# Fichiers objets
*.o

# Binaires
minishell

# Archives statiques
*.a

# Fichiers de texte
*.txt

# Fichiers de compilation
*.out
*.log
*.dSYM/
*.swp

# Backup d'éditeurs de texte
*~
.#*
*.sw?

# Historique du shell
.history

# MacOS si dev depuis la maison
.DS_Store

# Emacs / Vim
*~
*.swo
*.swp

# Valgrind output
valgrind.out

# Pre-compilateur gcc
*.gch

# VS Code
.vscode
.vscode/

# JetBrains IDEs (CLion, etc.)
.idea/

# Testers
minishell_tester/
42_minishell_tester/
grep
asd
lol
